Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
a='Madhu'
l=[1,2,3.0,'Madhu']
b=3.0
t=(1,2,3,0)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [6]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

i) / =====> It is simple division operator its divided the value and display the result in flote data type

In [7]:
a=10
b=2
print(type(a/b))

<class 'float'>

ii) % =====> Its divided the value and provided the remender

In [10]:
print(10%3)

1

iii) // ========> Its divided the value and rounds the result down to the nearest whole number

In [15]:
print(10//3)

3

iv)** =======> It is power the value like exponent

In [16]:
print(3**2)

9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [18]:
l=[1,2,3,4.0,"Madhu",True,[10,20],(30,40),70,80.0]

for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4.0
<class 'float'>
Madhu
<class 'str'>
True
<class 'bool'>
[10, 20]
<class 'list'>
(30, 40)
<class 'tuple'>
70
<class 'int'>
80.0
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [33]:
a=50
b=2
count=0
while a%b==0:
    count +=1
    a=a/b
if count >0:
    print(count)
else:
    print('a is not divisible by b')

1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [22]:
l=list(range(1,26))
print(l)
for i in l:
    if i%3==0:
        print(i)
    else:
        pass

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable : In mutable data type we can change the value for the existing value like list.
          Ex-- if l=[1,2,3]
          then l[0]=10 it is possible in Mutable data types

In [23]:
l=[1,2,3]
print(l)
l[0]=10
print(l)

[1, 2, 3]
[10, 2, 3]

Immutable : In this data type we can not change the value for existing like String
        Ex-- if s="Madhu"
                s[0]='K' its throw an error

In [30]:
s="Madhu"
print(s)
s[0]='m'
print(s)

Madhu

TypeError: 'str' object does not support item assignment